html {
  font-family: 'Montserrat', sans-serif;
}
:root {
  --color-primary: #393162;
  --color-secondary: #fcfdff;
  --color-background: #051723;
  --color-light-about: #FCFDFF;
  --gradient-primary: linear-gradient(270deg, #685be6 0%, #8980ee 100%);
  --content-width: 1160px;
}
.wrapper {
  padding: 0 140px;
}
